---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos (Freelance) en AipiSoft</div>
  </div>

  <HorizontalCard
    title="CooP v2 | CAZVI"
    img="https://coop2.cazvi.com/images/cazvi_logo.svg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://cazvi.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AipiSoft | CoFac"
    img="https://www.cofac.mx/assets/site/images/logo-cofac.svg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.cofac.mx/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Proyectos Personales</div>
  </div>

  <HorizontalCard
    title="Ka Exla'"
    img="/post_img.webp"
    desc="Plataforma LMS para la Enseñanza de la Lengua Tének"
    url="https://kaexla-legaxy.onrender.com/"
    badge="En Mantenimiento"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Exobchix"
    img="/post_img.webp"
    desc="Plataforma de Gestión Educativa."
    url="#"
    badge="En Desarrollo"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="XEANT APP"
    img="/post_img.webp"
    desc="Aplicación Móvil para la Radiodifusora XEANT La voz de las Huastecas ubicada en Tancanhuitz, San Luis Potosí"
    url="#"
  />
</BaseLayout>
