---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos (Freelance)</div>
  </div>

  <HorizontalCard
      title="La Hija de Don Emilio"
      img="/lahijadedonemilio.webp"
      desc= "Sitio web para reservaciones de alojamiento, camping y eventos privados en la Finca La Hija de Don Emilio"
      url="https:lahijadedonemilio.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CooP v2 | CAZVI"
    img="https://coop2.cazvi.com/images/cazvi_logo.svg"
    desc="Aplicación Web ERP para le empresa CAZVI"
    url="https://cazvi.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AipiSoft | CoFac"
    img="https://www.cofac.mx/assets/site/images/logo-cofac.svg"
    desc="Página Web para el Sistema de Facturación CoFac"
    url="https://www.cofac.mx/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Proyectos Personales y/o Académicos</div>
  </div>

  <HorizontalCard
    title="Ka Exla'"
    img="/ka-exla.png"
    desc="Plataforma LMS para la Enseñanza de la Lengua Tének"
    url="https://kaexla-legaxy.onrender.com/"
    badge="En Mantenimiento, Legacy"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Exobchix"
    img="/post_img.webp"
    desc="Plataforma de Gestión Educativa."
    url="#"
    badge="En Desarrollo"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="XEANT APP"
    img="/logo-xeant-300.jpg"
    desc="Aplicación Móvil para la Radiodifusora XEANT La voz de las Huastecas ubicada en Tancanhuitz, San Luis Potosí"
    url="#"
    badge="En Pruebas"
  />
</BaseLayout>
